

{% extends 'index1.html' %}

{% block content %}
{% for i in n %}
<form method="post" action="{% url 'updatecategory' i.id %}" enctype="multipart/form-data"> 
  {% csrf_token %}
    <div class="card-body">
      <div class="form-group">
        <label for="exampleInputName">Category Name</label>
        <input type="text" class="form-control" id="exampleInputName" placeholder="Category Name" name="cname" value="{{i.category_name}}">
      </div>
      
      <div class="form-group">
        <label for="exampleInputFile">Upload photo</label>
        <div class="input-group">
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="exampleInputFile" name="image" value="{{i.category_image}}">
            <label class="custom-file-label" for="exampleInputFile">Choose file</label>
          </div>
          <div class="input-group-append">
            <span class="input-group-text">Upload</span>
          </div>
        </div>
      </div>
      



      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
    </div>
    

    <div class="card-footer">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form> 
  {% endfor %}

{% endblock %}


{% block content1 %}
{% endblock %}