{% extends 'index1.html' %}

{% block content %}

<!-- <form> 
    <div class="card-body">
      <div class="form-group">
        <label for="exampleInputName1">First Name</label>
        <input type="email" class="form-control" id="exampleInputName1" placeholder="First Name">
      </div>
      <div class="form-group">
        <label for="exampleInputName2">Last Name</label>
        <input type="password" class="form-control" id="exampleInputName2" placeholder="Last Name">
      </div>
      <div class="form-group">
        <label for="exampleInputAddress1">Address</label>
        <input type="password" class="form-control" id="exampleInputAddress1" placeholder="Address">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input type="password" class="form-control" id="exampleInputEmail1" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>



      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
    </div>
    

    <div class="card-footer">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form> -->

{% endblock %}


{% block content1 %}
{% endblock %}